---
import Main from '../../layouts/Main.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Main
  title="Blog"
	description="starst."
	pubDate={new Date('May 31 2025')}
  >
  {
    posts.map((post) => (
      <div>
        <h2 class="mb-4">
          <a href={`/blog/${post.id}/`}>
            {post.data.title}
          </a>
        </h2>
        <p class="text-base font-sans">
          <FormattedDate date={post.data.pubDate} />
        </p>
      </div>
    ))
  }
</Main>

