---
import Main from '../layouts/Main.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Main
	title="Contact"
	description="The best way to reach me is email: j@joelhans.com."
	pubDate={new Date('May 31 2025')}
  >
  <p>The best way to reach me is email: <a href="mailto:j@joelhans.com">j@joelhans.com</a>.</p>
  <p>You can also follow me on <a href="https://bsky.app/profile/joelhans.bsky.social">BlueSky</a> or <a href="https://www.instagram.com/_joelhans/">Instagram</a>.</p>
</Main>

