---
import Main from '../layouts/Main.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Main
	title="Collection: The Bedtime Emptying of Our World"
  description="The Bedtime Emptying of Our World, winner of the The 2024 Moon City Short Fiction Award, is the debut short story collection from Joel Hans."
	pubDate={new Date('Dec 25 2025')}
  >
  <div class="lg:-mx-48 lg:grid grid-cols-2 gap-16">
    <div>
      <h1>
        The Bedtime Emptying of Our World
      </h1>
      <span class="block -mt-6 lg:-mt-8 mb-12 font-sans text-base">short stories / February 10, 2026</span>
      <p>In a future facsimile of the Sonoran Desert, a girl and grandfather rebirth weather itself. Fathers
watch children transform into minerals, tend pain-wracked saguaros, offer treasures to the Gulf
for lost sons. A girl escapes her apple prison; a man struggles against choices his parents coded
into his being. These twenty-two speculative fairy tales ask: How do we navigate parenthood&#39;s
impossible permutations? When will our helpers rescue us? Can we return from the void that
        swallowed all we love—and would we even try?</p>
      <a class="bg-emerald-600 hover:bg-emerald-500 px-5 py-4 rounded-sm text-white hover:!text-white !no-underline" href="https://www.uapress.com/product/bedtime-emptying-of-our-world/">
        Preorder now!
      </a>

      <h2>Praise for the collection:</h2>

      <blockquote>The Bedtime Emptying of The World by Joel Hans is a remarkable debut. These breathtaking
        stories rock the reader with &ldquo;their hopes overexposed.&rdquo; What an ethics, what a lyrical
feat! Hans is a true storyteller in the folkloric tradition. He brings lovely new color into our
world.</blockquote>
      <p class="!font-sans !text-base !-mt-4">&mdash; Kate Bernheimer, World Fantasy Award-winning editor, <em>My Mother She Killed Me, My
        Father He Ate Me: Forty New Fairy Tales</em></p>

      <blockquote>Joel Hans&rsquo; <em>The Bedtime Emptying of Our World</em> is a captivating collection of modern fables,
fairy tales and myths, and at the same time a keen exploration of familial love among the
devastations of a transforming climate. Like its setting, this book is a varicolored desert bursting
with life.</blockquote>
      <p class="!font-sans !text-base !-mt-4">&mdash; Ethan Chatagnier, author of <em>Singer Distance</em></p>

      <blockquote>In <em>The Bedtime Emptying of Our World</em>, Hans deftly leads readers through an often fantastical but always real series of worlds. In these stories, a girl lives inside an apple, crayons take on the weight of childhood dreams and parent wishes, and the moon lights the story of siblings lost and loved. In every fairy tale Hans creates, the magic lies inside the heartfelt and human relationships at the center. This is a beautiful book for every dreamer</blockquote>
      <p class="!font-sans !text-base !-mt-4">&mdash; Chloe N. Clark, author of <em>Collective Gravities</em> and <em>Every Galaxy a Circle</em></p>

      <blockquote>In this marvelous collection of lyrical stories of family and fairytales, Hans builds a world where
parents and children encounter the saving grace of nature’s wonders. In tenderness and
metaphor, <em>The Bedtime Emptying of Our World</em> deftly blurs the line between generational reality
and ecological fabulism.</blockquote>
      <p class="!font-sans !text-base !-mt-4">&mdash; Aimee Parkison, author of <em>Sister Séance</em></p>

      <blockquote>The otherworldly tales of Joel Hans&rsquo;s <em>The Bedtime Emptying of Our World</em> brim with the
uncanny—human-composting Gila monsters, a girl who lives in an apple, time-unwinding crows. What
an exhilarating experience, exploring the fantastical desert landscape of this collection! Speculative and
strange beneath its luminous daystar, yet always grounding us in the all-too-human dilemma of parenting
and being parented, loving and being loved. We cast our curiosity out into these stories, like an oblation
into the sea, and what returns to us every time is a wonder.</blockquote>
      <p class="!font-sans !text-base !-mt-4">&mdash; Eric Schlich, author of <em>Eli Harpo’s Adventure to the Afterlife</em></p>

    </div>
    <div class="mt-24 lg:mt-0">
      <figure class="!m-0">
        <img src="collection-cover.jpg" alt="Cover for The Bedtime Emptying of Our World" />
        <figcaption class="text-lg text-center italic">
          short stories by Joel Hans<br />
          The 2024 Moon City Short Fiction Award<br />
          February 10, 2026 • 232 pages<br />
          $14.95, paper • ISBN 978-0-913785-69-0<br />
          <a href="https://www.uapress.com/product/bedtime-emptying-of-our-world/">Preorder now</a>
        </figcaption>
    </div>
  </div>
</Main>

