---
import Main from '../layouts/Main.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Main
	title="Joel Hans"
	description="Joel Hans is a fiction author, editor, and developer relations lead in Tucson, Arizona."
	pubDate={new Date('May 31 2025')}
  >
  <h1 class="text-2xl lg:text-4xl font-medium leading-normal mb-12 lg:mb-24">Joel Hans is a fiction author, editor, and developer relations lead in Tucson, Arizona.</h1>
  <p class="text-xl lg:text-2xl mb-12">His debut short story collection, <span class="italic [font-variant:small-caps]">The Bedtime Emptying of Our World</span>, won the 2024 Moon City Short Fiction award and will be published in late 2025 with Moon City Press.</p>
  <p class="text-xl lg:text-2xl mb-12">The twenty-two stories borrow from speculative fiction and fairy tales in equal measure, and set them against the vivid backdrop of the Sonoran Desert. From impossible quests to helpers to tiny lacks, new threads emerge: How can we reconcile with this impossible task of parenthood in all its permutations? When will the fairy-tale helpers come to rescue us? Can we find our way back from the edge of the void that has taken all the things we love most? Would we even like to try?</p>
  <p><a href="/blog/a-book">Read more about the collection &rarr;</a></p>
  <img alt="The Bedtime Emptying of Our World: short stories by Joel Hans, late 2025, Moon City Press" src="/collection.png" />
  <p class="text-xl lg:text-2xl">His fiction has been published in <em>Fairy Tale Review</em>, <em>Story</em>, <em>West Branch</em>, <em>Booth: A Journal</em>, <em>Passages North</em>, <em>HAD</em>, and many others, and has been anthologized in <em>Best Small Fictions</em>. He received his MFA from the University of Arizona, and now edits <a href="https://astrolabe.ooo"><em>Astrolabe</em></a>, a literary journal in the form of a dynamic universe.</p>
  <p class="text-xl lg:text-2xl">He works as a Developer Relations Lead at <a href="https://ngrok.com" target="_blank">ngrok</a>, running a team focused on using content, code, and community to make networking and production software infrastructure a little less painful.</p>
</Main>

